body {
	background: #fff;
	font-family: 'Poppins', sans-serif;
}
header {
	height: 100vh;
	background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9)), url('../images/background-home.jpg') left no-repeat;
	background-size: cover;
}
.navbar-default {
	background-color: transparent;
}
#header-nav {
	padding-top: 20px;
	border: none;
}
#title-container {
	color: #fff ;
	margin-top: 10px; 
}
#title-logo {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Righteous', cursive;
}
div.container-title {
	color: #fff;
	margin: 30vh 0 18vh 0;
}
.title > h1 {
	font-size: 60px;
}
.title h2 {
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 40px;
	text-decoration: none;
}
.title a {
	background:#5cb8ff;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	padding: 14px 24px;
	margin-top: 0;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #222;
	box-shadow: 5px 10px 15px #3F0C1F;
}
nav ul li {
	margin-top: 4px;
	margin-right: 15px;
	font-size: 15px;
}

/* MAIN PAGE */
.about-img{
	height: 504px;
  	width: 100%;
	background: url('../images/about.png') no-repeat;
	background-position: center;
}
.about-text {
	padding: 50px;
}
.about-text a {
	display: inline-block;
	background:#5cb8ff;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	padding: 14px 24px;
	margin-top: 35px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #222;
	box-shadow: 5px 10px 15px #3F0C1F;
}
#main-container h3 {
	font-size: 55px;
	font-weight: normal;
	margin-top: 45px;
	margin-bottom: 45px;
}
.container-services h4 {
	font-size: 30px;
	margin-bottom: 25px;
}
.container-services {
	margin-bottom: 40px;
	position: relative;
	color: #fff;
}
.container-services .section-div-even {
	background-image: linear-gradient(to top, #5055df, #6d68f3);
	box-shadow: 0 12px 30px 0 rgba(80,85,223,.37);
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
}
.container-services .section-div-odd {
	background-image: linear-gradient(to top, #40a8f9, #5cb8ff);
	box-shadow: 0 12px 30px 0 rgba(86,163,222,.3);
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
}
.container-services p {
	opacity: .8;
	margin-bottom: 20px;
	overflow: hidden;
	height: 300px;
}
.container-services .icon {
	position: absolute;
	right: 0;
	bottom: 0;
}
.container-services .waves {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
/***********Carousel ***********/
.section-works img {
	transform: scale(1);
	transition: .3s;
}
.section-works img:hover {
	transform: scale(1.1);
	transition: .3s;
}
.section-works p {
	text-align: center;
	color: black;
}
.owl-nav button {
	color: #5cb8ff !important;
	margin: 0 46px !important;
	font-size: 59px !important;
}
.owl-dots {
	display: none;
}
.owl-nav button:hover {
	background: none !important;
	border: none !important;
}
.owl-nav button:focus {
	outline-style: none;
}

/******** END Carousel ******************/

/********** Why Work With Me Section  *************/

.work-with-me {
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 50px;
}
.container-why {
	margin-left: 10px;
	margin-right: 10px;
}
.container-why span {
	font-size: 19px;
	display: block;
	text-align: center;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 20px;
}
.container-why p {
	line-height: 31px;
}
/********** END Why Work With Me Section  *************/

/********** Worpress Section  *************/
.wordpress {
	margin-bottom: 20px;
}
.container-wordpress {
	margin-top: 20px;
}
.wordpress-details ul li {
	line-height: 35px;
}
.wordpress-details ul {
	padding-left: 0;
}
h3#wordpress-title {
	margin-bottom: 10px;
}
.wordpress-details {
	padding-left: 50px;
	list-style-position: inside;
}
/********** END Worpress Section  *************/

/********** Hosting Sectionn  *************/
h3#hosting-title {
	margin-top: 70px;
}
.hosting-details ul {

	list-style: none;
}
.hosting-details ul li {
	line-height: 50px;
}
.hosting-details ul img{
	margin-right: 10px;
}
.list-details {
	margin-top: 20px;
	margin-bottom: 20px;
}
.info-details {
	text-align: center;
	width: 64%; 
	margin-left: auto;
	margin-right: auto;
}
.hosting-details {
	width: 78%;
	margin-left: auto;
	margin-right: auto;
}
.hosting-details h4 {
	font-weight: 600;
}
/********** END Hosting Sectionn   *************/

/********** Hosting Sectionn Optional *************/
#hosting {
	display: none;
}
.info ul li:nth-child(2) {
	margin-bottom: 15px;
}
#hosting p {
	text-align: center;
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
}
#hosting .container-info {
	display: flex;
}
.container-info .info {
	width: 48%;
	margin: auto;
}
.container-info .big-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 16px;
}
.container-info ul li {
	list-style: none;
}
.container-info ul .icon {
	line-height: 50px;
}
.container-info img {
	vertical-align: middle;
	margin-right: 10px;
}
/********** END Hosting Sectionn Optional  *************/

/********** BLOG Section  *************/
.blog-single {
	box-shadow: 1px 1px 14px #ccc;
	margin-bottom: 30px;
	width: 300px;
	margin: 0 auto 40px;
}
.img-blog-div {
	background: url("../images/blog1.jpg") no-repeat;
	background-position: center;
	width: 100%;
	height: 209px;
}
.img-blog-div-2 {
	background: url("../images/blog2.jpg") no-repeat;
	background-position: center;
	width: 100%;
	height: 209px;
}
.section-row {
	background: #F9FAFC;
}

.blog-box-content {
	background: #fff;
	padding: 20px;
}
.blog-box-content h4 {
	font-weight: 600;
	font-size: 23px;
	margin-bottom: 15px;
}
.blog-box-content p {
	color: #5a6169;
	font-size: 16px;
	line-height: 24px;
}
.blog-box-content a {
	display: inline-block;
	text-decoration: none;
	background:#5cb8ff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 14px 24px;
	margin-top: 25px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #222;
	transition: 0.3s;
}
.blog-box-content a:hover {
	background: #59a7ec;
	transition: 0.3s;
}
.remarketing {
	height: 276px;
}
/********** END BLOG Section   *************/

/********** END CTA   *************/
.cta {
	background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9));
	padding: 50px 0px;
}
.cta h3 {
	color: #fff;
	font-size: 23px;
}
.cta a {
	display: inline-block;
	text-decoration: none;
	background:#5cb8ff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 14px 24px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #222;
	transition: 0.3s;
}
.cta a:hover {
	background: #59a7ec;
	transition: 0.3s;
}
/********** END CTA   *************/

/********** Large devices only **********/
@media (min-width: 1200px) {
	.vertical-align {
		display: flex;
	    align-items: center;
	}
	.services {
		margin-left: 80px;
		margin-right: 80px;
		padding-left: 100px;
		padding-right: 100px;

	}
		
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	
	.container-services  .item-details {
		height: 360px;
	}

	.vertical-align {
		display: flex;
	    align-items: center;
	}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.hosting-details {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.services {
		margin-left: 50px;
		margin-right: 50px;
	}
}

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
	div.container-title {
		margin: 30vh 0 8vh 0;
	}
	#main-container h3 {
		font-size: 45px;
	}
	#title-logo {
		margin-left: 30px;
	}
	#wordpress-img {
		margin-bottom: 55px;
	}
	.wordpress-details {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}
	.container-hosting {
		margin-bottom: 40px;
	}
	.hosting-details {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
	}
	.hosting-details p {
		margin-bottom: 30px;
	}
	.services {
		margin-left: 50px;
		margin-right: 50px;
	}

}

/********** Super extra small devices only iPhone 4 **********/
@media (min-width: 375px) and (max-width: 479px) {
	div.container-title {
		margin: 18vh 0 8vh 0;
	}
	#main-container h3 {
		margin-top: 45px;
		font-size: 30px;
	}
	#title-logo {
		margin-left: 30px;
	}
	.container-services  .item-details {
		height: 300px;
	}
	.services {
		margin-left: 5px;
		margin-right: 5px;
	}
	.work-with-me {
		padding-left: 40px;
		padding-right: 40px;
	}
	#wordpress-img {
		margin-bottom: 55px;
	}
	.wordpress-details {
		font-size: 12px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}
	.container-hosting {
		margin-bottom: 40px;
	}
	.hosting-details {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-box-content h4 {
		font-size: 1.2em;
	}
	.blog-box-content p {
		font-size: 1em;
	}
	.blog-single {
		width: 72%;
	}
	.img-blog-div {
		background: none;
		height: auto;
	}
	.img-blog-div-2 {
		background: none;
		height: auto;
	}

}
@media (min-width: 320px) and (max-width: 374px) {
	.blog-single {
		width: 100%;
	}
	.img-blog-div {
		background: none;
		height: auto;
	}
	.img-blog-div-2 {
		background: none;
		height: auto;
	}
	.blog-box-content h4 {
		font-size: 1.2em;
	}
	.blog-box-content p {
		font-size: .8em;
	}
}

@media (max-width: 319px) {
	.blog-single {
		width: 100%;
	}
	.img-blog-div {
		background: none;
		height: auto;
	}
	.img-blog-div-2 {
		background: none;
		height: auto;
	}
	.blog-box-content h4 {
		font-size: 1em;
	}	
	.blog-box-content p {
		font-size: .8em;
	}

}