/* https://bootstrapdocs.com/v3.3.6/docs/components/#navbar-default */
/*https://github.com/jhu-ep-coursera/fullstack-course4/blob/master/assignments/assignment3/Assignment-3.md */

/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

/* Restaurant name */
.navbar-brand h1{
	font-family: 'Lora', serif;
	color:#557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a {
	color: #951C49;
	text-align: center;
	font-size: 1.8em;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#collapsable-nav .divider {
    overflow: hidden;
    border: 1px solid black;
}
/** END HEADER **/

/* Main Page */
#page-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: 'Lora', serif;

}
.dish-tile {
	background-color: #cec8c8;
	border: 1px solid #3F0C1F;
	overflow: hidden;
	margin: 0 auto 15px;
}
.dish-tile div h3 {
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 20px;
	font-family: 'Lora', serif;
	color:#557c3e;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
}
.dish-tile p {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: left;
}
.dish-tile > div {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	text-align: center;
}
#chicken-section, #beef-section, #sushi-section {
	text-align: right;
	padding-right:  15px;
	margin-bottom: 10px;
}

/* END Main Page */